backend/Zapfmaster2000WebService/WebContent/wsdl/Zapfmaster2000Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.zapfmaster2000.de" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.zapfmaster2000.de" xmlns:intf="http://webservice.zapfmaster2000.de" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.zapfmaster2000.de" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="login">
    <complexType>
     <sequence>
      <element name="pId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType/>
   </element>
   <element name="draw">
    <complexType>
     <sequence>
      <element name="pNumTicks" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="drawResponse">
    <complexType/>
   </element>
   <element name="declineChallenge">
    <complexType>
     <sequence>
      <element name="pUserId" type="xsd:int"/>
      <element name="pText" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="declineChallengeResponse">
    <complexType/>
   </element>
   <element name="startChallenge1V1">
    <complexType>
     <sequence>
      <element name="pUserId1" type="xsd:int"/>
      <element name="pUserId2" type="xsd:int"/>
      <element name="pDuration" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="startChallenge1V1Response">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="declineChallengeResponse">

      <wsdl:part element="impl:declineChallengeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="drawRequest">

      <wsdl:part element="impl:draw" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="startChallenge1V1Request">

      <wsdl:part element="impl:startChallenge1V1" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="drawResponse">

      <wsdl:part element="impl:drawResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="declineChallengeRequest">

      <wsdl:part element="impl:declineChallenge" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="startChallenge1V1Response">

      <wsdl:part element="impl:startChallenge1V1Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Zapfmaster2000Service">

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="draw">

         <wsdl:input message="impl:drawRequest" name="drawRequest">

       </wsdl:input>

         <wsdl:output message="impl:drawResponse" name="drawResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="declineChallenge">

         <wsdl:input message="impl:declineChallengeRequest" name="declineChallengeRequest">

       </wsdl:input>

         <wsdl:output message="impl:declineChallengeResponse" name="declineChallengeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="startChallenge1V1">

         <wsdl:input message="impl:startChallenge1V1Request" name="startChallenge1V1Request">

       </wsdl:input>

         <wsdl:output message="impl:startChallenge1V1Response" name="startChallenge1V1Response">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Zapfmaster2000ServiceSoapBinding" type="impl:Zapfmaster2000Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="draw">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="drawRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="drawResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="declineChallenge">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="declineChallengeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="declineChallengeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="startChallenge1V1">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="startChallenge1V1Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="startChallenge1V1Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Zapfmaster2000ServiceService">

      <wsdl:port binding="impl:Zapfmaster2000ServiceSoapBinding" name="Zapfmaster2000Service">

         <wsdlsoap:address location="http://localhost:8080/Zapfmaster2000WebService/services/Zapfmaster2000Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
